[submodule "dependencies/vim-surround"]
	path = dependencies/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dependencies/nerdtree"]
	path = dependencies/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dependencies/fuzzy_file_finder"]
	path = dependencies/fuzzy_file_finder
	url = git://github.com/jamis/fuzzy_file_finder.git
[submodule "dependencies/fuzzyfinder_textmate"]
	path = dependencies/fuzzyfinder_textmate
	url = git://github.com/sethbc/fuzzyfinder_textmate.git
