[submodule "dependencies/vim-surround"]
	path = dependencies/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dependencies/nerdtree"]
	path = dependencies/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "dependencies/fuzzyfinder_textmate"]
	path = dependencies/fuzzyfinder_textmate
	url = git://github.com/sethbc/fuzzyfinder_textmate.git
[submodule "dependencies/pathogen"]
	path = dependencies/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dependencies/fuzzy_file_finder"]
	path = dependencies/fuzzy_file_finder
	url = https://github.com/jamis/fuzzy_file_finder.git
[submodule "dependencies/solarized"]
	path = dependencies/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dependencies/fugitive"]
	path = dependencies/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "dependencies/snipmate"]
	path = dependencies/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "dependencies/django_snipmate"]
	path = dependencies/django_snipmate
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "dependencies/gundo"]
	path = dependencies/gundo
	url = https://github.com/sjl/gundo.vim.git
